.coordinate-field {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: -2px;
  border: 1px solid grey;
}

.coordinate-field:hover {
  cursor: pointer;
}

.occupied {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
