.coordinate-field {
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: -2px;
  border: 1px solid grey;
  font-size: 48px;
  padding: 12px;
}

.shotAt {
  width: 20px;
  height: 20px;
  background-color: black;
}

.shotAtAndHit {
  width: 20px;
  height: 20px;
  background-color: red;
}

.notShotAt {
  width: 20px;
  height: 20px;
}

.coordinate-field:hover {
  cursor: pointer;
}

button:disabled {
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
}
