<app-field [field]="gameService.game.fieldPlayerOne" [player]="player.PLAYER_ONE"></app-field>

<div class="ship-placement">

    <div class="ship-placement-orientation">
      <button (click)="setOrientation(orientation.HORIZONTAL)" [disabled]="shipPlacementService.orientation === orientation.HORIZONTAL"><div>■■■</div>Horizontal</button>
      <button (click)="setOrientation(orientation.VERTICAL)" [disabled]="shipPlacementService.orientation === orientation.VERTICAL"><div>■■■</div>Vertical</button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.SUBMARINE.name)" [disabled]="shipPlacementService.shipType === shipType.SUBMARINE.name">
        <div>
          <div>■</div> Submarine
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.SUBMARINE.name)}}/{{gameConfigService.SHIPS.get(shipType.SUBMARINE.name)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.DESTROYER.name)" [disabled]="shipPlacementService.shipType === shipType.DESTROYER.name">
        <div>
          <div>■■</div> Destroyer
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.DESTROYER.name)}}/{{gameConfigService.SHIPS.get(shipType.DESTROYER.name)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.BATTLESHIP.name)" [disabled]="shipPlacementService.shipType === shipType.BATTLESHIP.name">
        <div>
          <div>■■■</div> Battleship
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.BATTLESHIP.name)}}/{{gameConfigService.SHIPS.get(shipType.BATTLESHIP.name)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.AIRCRAFT_CARRIER.name)" [disabled]="shipPlacementService.shipType === shipType.AIRCRAFT_CARRIER.name">
        <div>
          <div>■■■■</div> Aircraft Carrier
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.AIRCRAFT_CARRIER.name)}}/{{gameConfigService.SHIPS.get(shipType.AIRCRAFT_CARRIER.name)}})</div>
      </button>
    </div>

    <div class="play">
      <button (click)="next()" [disabled]="!areCorrectAmountsOfShipsPlaced()">
          Play
      </button>
    </div>

</div>
