<app-field [field]="gameService.game.fieldPlayerOne"></app-field>

<div class="ship-placement">

    <div class="ship-placement-orientation">
      <button (click)="setOrientation(orientation.HORIZONTAL)" [disabled]="shipPlacementService.orientation === orientation.HORIZONTAL"><div>■■■</div>Horizontal</button>
      <button (click)="setOrientation(orientation.VERTICAL)" [disabled]="shipPlacementService.orientation === orientation.VERTICAL"><div>■■■</div>Vertical</button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.SUBMARINE)" [disabled]="shipPlacementService.shipType === shipType.SUBMARINE">
        <div>
          <div>■</div> Submarine
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.SUBMARINE)}}/{{gameConfigService.SHIPS.get(shipType.SUBMARINE)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.DESTROYER)" [disabled]="shipPlacementService.shipType === shipType.DESTROYER">
        <div>
          <div>■■</div> Destroyer
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.DESTROYER)}}/{{gameConfigService.SHIPS.get(shipType.DESTROYER)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.BATTLESHIP)" [disabled]="shipPlacementService.shipType === shipType.BATTLESHIP">
        <div>
          <div>■■■</div> Battleship
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.BATTLESHIP)}}/{{gameConfigService.SHIPS.get(shipType.BATTLESHIP)}})</div>
      </button>
    </div>

    <div class="ship-placement-type">
      <button (click)="setShipType(shipType.AIRCRAFT_CARRIER)" [disabled]="shipPlacementService.shipType === shipType.AIRCRAFT_CARRIER">
        <div>
          <div>■■■■</div> Aircraft Carrier
        </div>
        <div>({{gameService.getAmountOfPlacedShipsForShipType(shipType.AIRCRAFT_CARRIER)}}/{{gameConfigService.SHIPS.get(shipType.AIRCRAFT_CARRIER)}})</div>
      </button>
    </div>

    <div class="play">
      <button (click)="next()" [disabled]="!areCorrectAmountsOfShipsPlaced()">
          Play
      </button>
    </div>

</div>
